version: '3.8'

services:
  postgres_db:
    image: postgres:15
    container_name: memorypal_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432" # Maps the port from your .env file
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: