# --- Frontend ---
streamlit
streamlit-agraph
pyvis
networkx

# --- AI Frameworks ---
langchain
langchain-core
langchain-community
langchain-google-genai
langgraph
pydantic

# --- LLM, Embedding & Audio ---
google-generativeai
openai-whisper
ffmpeg-python==0.2.0

# --- Databases ---
pinecone
psycopg2-binary
sqlalchemy

# --- File Loaders ---
PyMuPDF

# --- NLP Tools ---
spacy

# --- Utilities ---
python-dotenv
requests